

    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30%">
<h2 style="text-align:center">Confirm Delete</h2>
        <div fxLayoutAlign="stretch" fxLayout="column" class="Signform">

            <div>
                <button mat-raised-button color="primary" type="button" (click)="Delete()">Delete </button>
                <button mat-raised-button color="primary" type="button" routerLinkActive="active" [routerLink]="'..'">Cancel</button>
              </div>  
    </div>
    </mat-card>
    </div>
